*{
    margin : 0;
    padding : 0;
}

.main6{
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(WhatsApp\ Image\ 2023-01-26\ at\ 1.03.28\ PM.jpeg);
    background-position: center;
     background-size: cover;
    height: 100vh;
 }
 
 .main6 a{
    text-decoration: none;
    color: rgb(242, 237, 237);
    font-weight: bolder;
    font-size:  40px;
    margin: 3px;
    padding: 5px;
 }
 .form6 h1{
    color: white;
    font-weight: 500;   
 }
 .form6{
    text-align: center;
    width: 340px;
    height: 540px;
    top: 48%;
    background:#101010;
    position: absolute;
    left:50%;
    border-radius: 25px;
    padding: 35px; 
    transform: translate(-50%,-50%);
 }
 .form6 input{
    width: 265px;
    height: 37px;
    background: transparent;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 6px;
    font-family: sans-serif;
    border: 2px solid #a8e6ef;
    padding: 14PX 10PX;
    cursor: pointer;
    color: white;
    
 }
 .form6 input::placeholder{
    color: rgb(239, 243, 247);
 }
 .form6 input[type="submit"]
 {
    color: aliceblue;
 }
 .form6 label{
    color: aliceblue;
 }
 .form6 input[type="submit"]
 {
    text-align: center;
    padding: 1px;
    margin: 7px;
    border-radius: 29px;
    justify-content: center;
 }
 .form6 input[type="submit"]:hover
 {
 background:rgb(0, 2, 15);;
 }
 .main6 tech_ack
 {
    color: #cecece;
 }
 