* {
    margin: 0;
    padding: 0;
 }
 
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(Img/A\ List\ of\ Artificial\ Intelligence\ \(AI\)\ Tools\ for\ Personal\ use\ -\ 2023.jfif);
    background-position: center;
    background-size: cover;
    height: 100vh;
 }
 
 .main a{
    text-decoration: none;
    color: rgb(243, 238, 238);
    font-weight: bolder;
    font-size:  40px;
 }
 .form h1{
    font-family:cursive;
    color: white;
    font-weight: 500;   
 }
 .form{
    text-align: center;
    width: 463px;
    height: 740px;
    top: 50%;
    background:#191919;
    position: absolute;
    left:50%;
    border-radius: 45px;
    padding: 15px; 
    transform: translate(-50%,-50%);
 }
 .form input{
    width: 240px;
    height: 35px;
    background: transparent;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 12px;
    font-family: sans-serif;
    border: 2px solid #3498db;
    padding: 14px 10px;
    cursor: pointer;
    color: white;
 }
 .form input::placeholder{
    color: rgb(239, 243, 247);
 }
 .form input[type="submit"]
 {
    color: aliceblue;
 }
 .form label{
    color: aliceblue;
 }
 .form input[type="submit"]
 {
    padding: 1px;
    margin: 10px;
    border-radius: 29px;
 }
 .form input[type="submit"]:hover
 {
 background: #000;;
 }
 #malerd{
    height: 17px;
    position: relative;
    right: -13px;
    bottom: -3px;
 
 }
 #femalerd{
    height: 17px;
    position: relative;
    right: -33px;
    bottom: 2px;
 }
 
 .form #citycmb{
    background: rgb(239 243 247);
    border: 2px solid #3498db;
    border-radius: 6px;
    cursor: pointer;
 }