footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #0c0303;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin:-22px auto;
  }
  
  .col {
    width: 33.33%;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: justify;
    color: black;

  }
  
  .col h3 {
    margin-bottom: 10px;
  }
  
  .contact p, .follow .social-media li a {
    color: #0e0404;
  }
  
  .contact p:first-child {
    margin-top: 0;
  }
  
  .social-media {
    list-style: none;
    display: flex;
    margin: 10;
    padding: 0;
  }
  
  .social-media li {
    margin-right: 10px;
  }
  
  .social-media li a {
    color: #030101;
    text-decoration: none;
  }
  
  .social-media li a:hover {
    color: #555;
  }
  
  .legal {
    margin-top: 20px;
  }
  
  .legal p {
    margin: 0;
  }
  footer .follow{
    margin-top: 20px;

}
footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
    
}
footer .follow i:hover,
footer a:hover{
    color:rgba(41, 5, 43, 0.473);
}
