* {
    margin: 0;
    padding: 0;
 }
.ACK{
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(Img/WhatsApp\ Image\ 2023-01-26\ at\ 5.26.16\ PM.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
 }
 .ACK a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    margin: 5px;
    
 }
 .form h1{
    color: white;
    font-weight: 500;
    font-family: cursive;
    
 }
 .form{
    text-align: center;
    width: 440px;
    height: 769px;
    top: 50%;
    background: #191919;;
    position: absolute;
    left:50%;
    border-radius: 45px;
    padding: 35px; 
    transform: translate(-50%,-50%);
 }
 .form input{
    width: 240px;
    height: 35px;
    background: transparent;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 12px;
    font-family: sans-serif;
    border: 2px solid rgb(220, 147, 13);
    padding: 14PX 10PX;
    cursor: pointer;
    color: white;
 }
 .form input::placeholder{
    color: rgb(239, 243, 247);
 }
 .form input[type="submit"]
 {
    color: aliceblue;
 }
 .form label{
    color: aliceblue;
 }
 .form input[type="submit"]
 {
    padding: 1px;
    margin: 10px;
    border-radius: 29px;
 }
 .form input[type="submit"]:hover
 {
 background: #000;;
 }